name: Deploy Pypi

on:
  workflow_call:
    secrets:
      PYPI_TOKEN:
        required: true

jobs:
  deploy_pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist-3.14
          path: ./dist/

      - run: ls -lr

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.14

      - run: curl -sSL https://install.python-poetry.org | python3 -
      - run: poetry --version
      - run: export PATH="/root/.local/bin:$PATH"
      - run: |
          export PATH="/root/.local/bin:$PATH"
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish
